[Desktop Entry]
Categories=Development;Office;
Comment=Tolles Brainstorming- und Mindmapping-Tool
Exec=AppRun %U
Icon=xmind
Name=XMind
StartupNotify=true
StartupWMClass=XMind
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
X-MultipleArgs=false
